<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898997728623-g10qerq6dld8vghmejdcj1kq16v0a6gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898997728623-g10qerq6dld8vghmejdcj1kq16v0a6gc</string>
	<key>API_KEY</key>
	<string>AIzaSyBwE1kRRO9l0r8r5vwm6-zOqHEbh2GRMAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>898997728623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NTUE.cub3r.9Knights</string>
	<key>PROJECT_ID</key>
	<string>knights-51753</string>
	<key>STORAGE_BUCKET</key>
	<string>knights-51753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898997728623:ios:21360a495ebfaf7fc5e49a</string>
</dict>
</plist>